DATABASE_URL="postgresql://postgres:postgres@postgres:5432/dealtracker"

# JWT Asymmetric Keys
PRIVATE_KEY_PATH=/keys/private.pem
PUBLIC_KEY_PATH=/keys/public.pem
ALGORITHM=EdDSA
ACCESS_TOKEN_EXPIRE_MINUTES=1440
# --- ADMIN PANEL SETTINGS ---
# A secure, secret username for the admin panel
ADMIN_USERNAME=admin #Change it
# A long, secure password for the admin panel
ADMIN_PASSWORD=pick-a-strong-admin-pass-for-god-sake

ALLOWED_ADMIN_IPS="*"

SESSION_SECRET_KEY=e85ee40662b8423a99dc7d0e4436508d601b22efffe94def81ddb34ed2a3687e #Change it
ENVIRONMENT=production
REFRESH_TOKEN_EXPIRE_DAYS=7